<%- include('partials/header') %>

  <div class="container">

    <h1>Add New Row <a href="/" class="btn btn-large btn-primary pull-right"><i class="glyphicon glyphicon-search"> </i> Search</a></h1>

    <form id="manage">
      <% schema.fields.forEach(field => { %>
        
        <% if (field.type == "string") { %>
          <div class="form-group">
            <label for="exampleInputEmail1"><%= field.name %></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-font"> </i></span>
              <input type="text" class="form-control" id="<%= field.name %>" name="<%= field.name %>" value="">
            </div>
          </div>
        <% } %>

        <% if (field.type == "number") { %>
          <div class="form-group">
            <label for="exampleInputEmail1"><%= field.name %></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-signal"> </i></span>
              <input type="number" class="form-control" id="<%= field.name %>" name="<%= field.name %>" value="">
            </div>
          </div>
        <% } %>

        <% if (field.type == "boolean") { %>
          <div class="form-group">
            <label for="exampleInputEmail1"><%= field.name %> </label>
            <div class="input-group">
              <select class="form-control" id="<%= field.name %>" name="<%= field.name %>">
                <option value="true">true</option>
                <option value="false">false</option>
              </select>
            </div>
          </div>
        <% } %>

        <% if (field.type == "arrayofstrings") { %>
          <div class="form-group">
            <label><%= field.name %></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-tags"> </i></span>
              <input type="string" class="form-control" id="<%= field.name %>" name="<%= field.name %>" value="">
            </div>
          </div>
          <script>
            $('#<%= field.name %>').tagsInput();
          </script>
        <% } %>

      <% }) %>

      <div class="alert alert-success mt20 hidden" id='update-success'>
        <strong>Success!</strong> Your record has been successfully added.<br />
        <span id="success-msg"></span>
      </div>

      <div class="alert alert-danger mt20 hidden" id='update-error'>
        <strong>Oops!</strong> Something went wrong.<br />
        <span id="errors"></span>
      </div>

      <button type="submit" class="btn btn-default mb20">Submit</button>
    </form>
    
    <script>

    $(document).ready(function() {
      $('#manage').submit(function(e) {

        e.preventDefault();

        $('#update-success').addClass('hidden');
        $('#update-error').addClass('hidden');

        $.ajax({
          type: "POST",
          url: "/row",
          data: $("#manage").serialize(),
          success: function(data) {
            $('#update-success').removeClass('hidden');
            $('#success-msg').html("Your new document ID is: <a href='/manage/" + data.data.id + "'>" + data.data.id + "</a>")
          },
          error: function(data, x, y) {
            if (data.responseJSON && data.responseJSON.error && data.responseJSON.error.length) {
              $('#errors').html("<em>" + data.responseJSON.error.join("<br />") + "</em>");
            }
            $('#update-error').removeClass('hidden');
          }
        });

      })
    })
      
        

    </script>

  </div><!-- /.container -->

<%- include('partials/footer') %>