<%- include('partials/header') %>

  <div class="container">

    <h1>Select a row <a href="/add" class="btn btn-large btn-primary pull-right"><i class="glyphicon glyphicon-plus"> </i> Add</a></h1>

    <form class="form-inline" method="GET" action="/">
      <div class="form-group">
        <label for="search">Search</label>
        <input type="text" class="form-control" id="q" name="q" value="<%= q %>">
      </div>
      <div class="form-group">
        <div class="input-group">
          <select class="form-control" id="limit" name="limit">
            <option value="5" <%= (limit == 5 ? 'selected' : '') %>>5 Results</option>
            <option value="10" <%= (limit == 10 ? 'selected' : '') %>>10 Results</option>
            <option value="20" <%= (limit == 20 ? 'selected' : '') %>>20 Results</option>
            <option value="30" <%= (limit == 30 ? 'selected' : '') %>>30 Results</option>
            <option value="40" <%= (limit == 40 ? 'selected' : '') %>>40 Results</option>
            <option value="50" <%= (limit == 50 ? 'selected' : '') %>>50 Results</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-info">Search</button>
      <a href="/" class="btn btn-warning">Reset</a>
    </form>

    <p class="mt20"><%= totalRows %> rows found in total.</p>

    <script>
      console.log('TBM', '<%= thisBookmark %>');
      console.log('NBM', '<%= nextBookmark %>');
    </script>

    <table class="table ellipsis table-striped mt20" id="searchResults">
      
      <tr>
        <th><i class="glyphicon glyphicon-th-list"> </i></th>
        <% schema.forEach(field => { %>
          <th><%= field.name %></th>
        <% }) %>
      </tr>

      <%- include('partials/rows') %>

    </table>

  </div><!-- /.container -->

  <script>

    var showMore = function(bookmark) {

      $('button#showMore').attr("disabled", "disabled");

      $.ajax({
        type: "GET",
        url: "/",
        data: "partial=true&bookmark="+bookmark+"&limit=<%= limit %>&q=<%= q %>",
        success: function(data) {
          var t = $('table#searchResults tr#row-showMore').remove();
          $('table#searchResults tbody').append(data);
        },
        error: function(data, x, y) {
          $('button#showMore').attr("disabled", "");
        }
      });

    }

    $(document).ready(function() {

      $('a[data-delete]').click(function(a) {

        var id = $(this).attr("data-delete");

        if (confirm("Are you sure you wish to delete this row?")) {

          $.ajax({
            type: "DELETE",
            url: "/row/"+id,
            success: function(data) {
              location.reload();
            },
            error: function(data, x, y) {
              
              if (data.status) {
                return alert("Cannot delete this row, deletes disabled");
              }

              alert("There was a problem deleting this row.");

            }
          });

        }

      })

    })

  </script>

<%- include('partials/footer') %>